@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

/*------ Wild Card ------*/

* {
    margin:0;
    padding:0;
    border:0;
}

/*------ Generic ------*/

body {
    font-family: 'Cormorant Garamond', sans-serif;
    background-color: rgb(250, 242, 209);
    color: rgb(12, 10, 4);
    margin: 1rem;

}

p {
    font-size: 1.2rem;
}

/*------ Image ------*/

img {
    width: 100%;
}

/*------ Author ------*/

aside {
    font-style: italic;
}

/*------ Trailer ------*/

.trailer {
    width: 100%;
    margin-bottom: 1rem;
}

.trailer-text {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 3rem 0 0.5rem 0;
}

/*------ Headings ------*/

h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

h2 {
    padding: 2.5rem 0 1rem 0;
}

h3, h4 {
    padding-bottom: 0.5rem;
}

/*------ List ------*/

ul {
    padding-left: 1.2rem;
}

/*------ Footer ------*/

footer {
    background-color: rgb(141, 103, 109);
    padding: 1rem;
    margin-top: 4rem;
}

/*------ Links ------*/

a[href*="main"] {
    color: rgb(12, 10, 4);
    text-decoration: none;
    margin-top: 2rem;
}

a[href*="main"]:hover {
    color: rgb(22, 103, 134);
    border-bottom: 1px solid rgb(22, 103, 134);
}

footer a {
    color: rgb(250, 242, 209);
    text-decoration: none;
}

footer a:hover {
    color:rgb(183, 241, 241);
    border-bottom: 1px solid rgb(183, 241, 241);
}

a[href*="pixabay"] {
    display: block;
}

/*------ Media Queries ------*/

@media screen and (min-width: 992px) {

    body {
        margin: 3rem;
    }

    aside {
        float: right;
        width: 30%;
        border: 1px solid rgb(12, 10, 4);
        padding: 0 2rem 3rem 2rem;
        margin-top: 5.5rem;
    }
    
    .group:before,
    .group:after {
        content: "";
        display: table;
    }

    .group:after {
        clear: both;
    }

    .group {
        clear: both;
        *zoom: 1;
    }

    .trailer {
        width: 50%;
    }
    
    a[href*="pixabay"] {
        display: inline;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    a[href*="wikiwand"] {
        margin-left: 3rem;
    }

}
