@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*------ Wild Card ------*/

* {
    margin:0;
    padding:0;
    border:0;
}

/*------ Generic ------*/

:root {
    --unicornIvory: rgb(255, 248, 225);
    --dementorBlack: rgb(12, 10, 4);
    --pixieBlue: rgb(22, 103, 134);
    --flyingFordAngliaBlue: rgb(183, 241, 241);
    --sortingHatBrown: rgb(65, 36, 27);
}

body {
    width: 90%;
    font-family: 'Cormorant Garamond', sans-serif;
    background-color: var(--unicornIvory);
    color: var(--dementorBlack);
    margin: 2rem auto 2rem auto;
}

h2 {
    padding: 3rem 0 1rem 0;
}

h2 > p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h3, h4 {
    padding-bottom: 0.5rem;
}

p {
    font-size: 1.2rem;
}

hr {
    height: 1.2px;
    background-color: var(--dementorBlack);
    opacity: 40%;
}

/*------ Navigation ------*/

.navbar-logo {
    margin-top: .5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(65, 36, 27, .5);
    background-image: linear-gradient(var(--sortingHatBrown), var(--unicornIvory));
    border-radius: .3rem;

}

.navbar__toggler {
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-right: .5rem;
}

.fa-broom {
    font-size: 1rem;
    color: var(--dementorBlack);
}

/*------ Header ------*/

.header {
    font-weight: 600;
    max-width: 19rem;
    margin: auto;
    padding-top: 1rem;
    font-size: .6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header span {
    display: block;
    text-align: center;
    font-size: 2rem;
}

/*------ Image ------*/

img {
    width: 100%;
    margin-top: 2rem;
}

/*------ Author Info ------*/

aside {
    font-style: italic;
}

/*------ Trailer ------*/

.trailer {
    width: 100%;
    margin-bottom: 1rem;
}

.trailer-text {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 3rem 0 0.5rem 0;
}

/*------ List ------*/

ul {
    padding-left: 1.2rem;
}

/*------ Footer ------*/

footer {
    background-color:  rgba(65, 36, 27, .5);
    background-image: linear-gradient(var(--unicornIvory), var(--sortingHatBrown));
    border-radius: .3rem;
    padding: 2rem;
    margin-top: 4rem;
}

/*------ Links ------*/

a[href*="main"] {
    display: inline-block;
    color: var(--dementorBlack);
    text-decoration: none;
    margin-top: 2rem;
}

a[href*="main"]:hover {
    color: var(--pixieBlue);
    border-bottom: .1rem solid var(--pixieBlue);
}

footer a {
    color: var(--unicornIvory);
    text-decoration: none;
}

footer a:hover {
    color: var(--flyingFordAngliaBlue);
    border-bottom: .1rem solid var(--flyingFordAngliaBlue);
}

a[href*="pixabay"] {
    display: block;
}

/*---------- Media Queries ----------*/

@media screen and (min-width: 992px) {

    /*------ Generic ------*/

    body {
        width: 85%;
        margin: 3rem auto 3rem auto;
    }

    /*------ Image ------*/

    img {
        margin-top: 2rem;
    }

    /*------ Header ------*/

    .header {
        max-width: 38rem;
        font-size: 1rem;

    }

    .header span {
        font-size: 4rem;
    }

    /*------ Aside ------*/

    aside {
        float: right;
        width: 30%;
        border: .1rem solid var(--dementorBlack);
        padding: 0 2rem 3rem 2rem;
        margin-top: 5.5rem;
    }
    
        /*-- Clearfix for Aside Float Element --*/

    .group:before,
    .group:after {
        content: "";
        display: table;
    }

    .group:after {
        clear: both;
    }

    .group {
        clear: both;
        *zoom: 1;
    }

    /*------ Trailer ------*/

    .trailer {
        width: 50%;
    }
    
    /*------ Links ------*/

    a[href*="pixabay"] {
        display: inline;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    a[href*="wikiwand"] {
        margin-left: 3rem;
    }    
}
